<template>
  <div class="chart-wrapper">
    <h3>2-Week Blast</h3>
    <line-chart ref="lineChartRef" :data="chartData" :options="chartOptions" />
  </div>
  <daily-overview
    v-if="showTooltip"
    :style="`
      position: absolute;
      top: ${tooltipPosition.top}px;
      left: ${tooltipPosition.left}px;
    `"
    :dailySummaries="tooltipSummaries"
    :day-index="tooltipDayIndex"
  />
</template>

<script lang="ts">
import { computed, defineComponent, PropType, ref } from 'vue';

import { LineChart } from 'vue-chart-3';
import {
  ArcElement,
  CategoryScale,
  Chart,
  ChartData,
  ChartOptions,
  LinearScale,
  LineController,
  LineElement,
  PointElement,
  Tooltip,
} from 'chart.js';

import { Blast } from '@/types/Blast';
import DailyOverview from './DailyOverview.vue';
import { DailySummary } from '@/types/DailySummary';

Chart.register(
  LineController,
  LineElement,
  LinearScale,
  CategoryScale,
  PointElement,
  ArcElement,
  Tooltip
);

export default defineComponent({
  name: 'BlastChart',
  props: {
    blast: {
      type: Object as PropType<Blast>,
      required: true,
    },
  },
  components: {
    LineChart,
    DailyOverview,
  },
  setup(props) {
    const today = new Date();
    const daysFromToday = Math.round(
      (today.getTime() - props.blast.startDate.getTime()) /
        (24 * 60 * 60 * 1000)
    );

    const chartOptions = ref<ChartOptions<'line'>>({
      responsive: true,
      maintainAspectRatio: true,
      aspectRatio: 825 / 160,
      scales: {
        x: {
          grid: {
            display: false,
            drawBorder: false,
          },
          ticks: {
            color: ({ index }) =>
              index === daysFromToday ? '#5182ff' : '#818fa2',
            padding: 10,
            showLabelBackdrop: ({ index }) => index === daysFromToday,
            backdropColor: '#e5ecff',
            backdropPadding: 5,
          },
        },
        y: {
          display: false,
        },
      },
      layout: {
        padding: 20,
      },
      plugins: {
        tooltip: {
          enabled: false,
          external: ({ tooltip: tooltipModel, chart }) => {
            showTooltip.value = tooltipModel.opacity !== 0;

            if (showTooltip.value) {
              tooltipDayIndex.value = tooltipModel.dataPoints[0].dataIndex;
              const { offsetTop: offsetY, offsetLeft: offsetX } = chart.canvas;
              const top = Math.min(
                offsetY + tooltipModel.caretY,
                document.documentElement.clientHeight - 400
              );
              const left = Math.min(
                offsetX + tooltipModel.caretX,
                document.documentElement.clientWidth - 400
              );
              tooltipPosition.value = { top, left };
            }
          },
        },
      },
      interaction: {
        intersect: false,
      },
    });

    const chartData = computed<ChartData<'line'>>(() => ({
      labels: props.blast.summaries.map(
        (dailySummaries, index) => `Day ${index}`
      ),
      datasets: [
        {
          backgroundColor: '#5182ff',
          borderColor: '#5182ff',
          pointBackgroundColor: 'rgba(0, 0, 0, 0)',
          pointBorderColor: 'rgba(0, 0, 0, 0)',
          pointHoverBackgroundColor: '#5182ff',
          pointHoverBorderColor: '#5182ff',
          pointHoverRadius: 5,
          cubicInterpolationMode: 'monotone',
          data: props.blast.summaries.map((dailySummaries) =>
            dailySummaries.reduce(
              (totalCount: number, dailySummary) =>
                totalCount + dailySummary.count,
              0
            )
          ),
        },
      ],
    }));

    const showTooltip = ref<boolean>(false);
    const tooltipDayIndex = ref<number>(0);
    const tooltipSummaries = computed<Array<DailySummary>>(
      () => props.blast.summaries[tooltipDayIndex.value]
    );

    const tooltipPosition = ref({ top: 0, left: 0 });

    return {
      chartData,
      chartOptions,
      tooltipSummaries,
      tooltipDayIndex,
      showTooltip,
      tooltipPosition,
    };
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
.chart-wrapper {
  text-align: left;
  padding: 0.7rem 1rem 0;
  background-color: white;
  color: #818fa2;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  overflow: hidden;

  h3 {
    font-size: 1rem;
    font-weight: 400;
  }
}
</style>
