<template>
  <div class="overview-wrapper">
    <div class="header">
      <div>
        {{ prettyDate(dailySummaries[0].date) }}
      </div>
      <div class="day-count">Day {{ dayIndex }}</div>
      <div class="total-count">
        <font-awesome-icon icon="mouse-pointer" />{{ totalCount }}
      </div>
    </div>
    <div class="summaries">
      <div
        class="summary"
        :class="{ 'not-done': !summary.isDone }"
        v-for="summary in dailySummaries"
        :key="summary.source"
      >
        <div>
          <font-awesome-icon v-if="summary.isDone" icon="check-circle" />
          <font-awesome-icon v-if="!summary.isDone" icon="clock" />
          <font-awesome-icon :icon="['fab', getSourceIcon(summary.source)]" />
          {{ summary.name }} · {{ prettyTime(summary.latestTimestamp) }}
        </div>
        <div class="count">{{ summary.count }}</div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, PropType } from 'vue';

import { DailySummary } from '@/types/DailySummary';
import { prettyDate, prettyTime } from '@/utils/datetime';
import { getSourceIcon } from '@/utils/events';

export default defineComponent({
  name: 'DailyOverview',
  props: {
    dailySummaries: {
      type: Array as PropType<Array<DailySummary>>,
      required: true,
    },
    dayIndex: {
      type: Number,
      required: true,
    },
  },
  setup(props) {
    const totalCount = computed<number>(() =>
      props.dailySummaries.reduce(
        (totalCount: number, dailySummary) => totalCount + dailySummary.count,
        0
      )
    );

    return { prettyDate, prettyTime, getSourceIcon, totalCount };
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
.overview-wrapper {
  border: 1px solid #d1d2d6;
  width: 20rem;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 1.5rem;

  color: #242a35;
  font-size: 0.8rem;

  display: flex;
  flex-direction: column;

  > div {
    width: 100%;
  }

  .header {
    display: flex;
    align-items: center;
    font-weight: 600;

    .day-count {
      border-radius: 10px;
      color: #5182ff;
      font-size: 0.7rem;
      background-color: #e5ecff;
      padding: 5px 8px;
      margin-left: 0.8rem;
    }

    .total-count {
      text-align: right;
      flex: 1;

      .fa-mouse-pointer {
        color: #c477f7;
        font-size: 0.65rem;
        margin-right: 0.25rem;
      }
    }
  }

  .summaries {
    display: flex;
    flex-direction: column;
    margin-top: 0.1rem;

    .summary {
      display: flex;
      margin-top: 0.7rem;

      .svg-inline--fa {
        font-size: 0.85rem;
        margin-right: 0.4rem;
      }

      .fa-check-circle {
        color: #1bbc5f;
      }

      .fa-facebook-square {
        color: #1877f2 !important;
      }

      .fa-linkedin {
        color: #2a67bc !important;
      }

      .fa-twitter-square {
        color: #1da1f2 !important;
      }

      &.not-done {
        color: #78869b;
      }

      .count {
        text-align: right;
        flex: 1;
      }
    }
  }
}
</style>
