<template>
  <blast-chart :blast="blast" />
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import BlastChart from '@/components/BlastChart.vue';
import { Blast } from '@/types/Blast';
import { EventOrigin } from '@/types/EventOrigin';

export default defineComponent({
  name: 'App',
  components: {
    BlastChart,
  },
  setup() {
    // Generate mock data
    // https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Math/random
    function getRandomInt(min: number, max: number) {
      min = Math.ceil(min);
      max = Math.floor(max);
      return Math.floor(Math.random() * (max - min) + min); //The maximum is exclusive and the minimum is inclusive
    }

    const blastLength = 14;
    const blastDate = new Date();
    const daysFromToday = 4;
    blastDate.setDate(blastDate.getDate() - daysFromToday);

    const blast = ref<Blast>({
      lengthInDays: blastLength,
      startDate: blastDate,
      summaries: [...Array(blastLength)].map((value, currDay) => {
        const date = new Date(blastDate);
        date.setDate(date.getDate() + currDay);
        return [
          EventOrigin.FACEBOOK,
          EventOrigin.LINKEDIN,
          EventOrigin.TWITTER,
        ].map((source) => {
          const latestTimestamp = new Date(date);
          latestTimestamp.setHours(date.getHours() + getRandomInt(-5, 6));
          latestTimestamp.setMinutes(date.getMinutes() + getRandomInt(-30, 31));
          return {
            date,
            name: 'Missinglettr',
            latestTimestamp,
            count: currDay > daysFromToday ? 0 : getRandomInt(0, 100),
            isDone: Math.random() < 0.5,
            source,
          };
        });
      }),
    });

    return { blast };
  },
});
</script>

<style lang="less">
body {
  background-color: #e5e5e5;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #fff;
  margin-top: 60px;
}
</style>
